<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Jadwal Sholat & Imsak" />
    <meta name="keywords" content="Jadwal, Sholat, Imsak, 2023" />
    <title
      th:text="${jadwal.data.kabKota} + ' - Jadwal Imsakiyah 2023 | Irvanudin'"
    ></title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/webjars/font-awesome/6.3.0/css/all.min.css" />
    <style>
      thead {
        position: sticky;
        top: 0;
        background-color: #fff;
      }
    </style>
    <script>
      function updateClock() {
        const clock = document.getElementById("clock");
        const date = new Date();
        let hours = date.getUTCHours() + 7;
        let minutes = date.getUTCMinutes();
        let seconds = date.getUTCSeconds();
        hours = hours < 10 ? "0" + hours : hours;
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;
        clock.textContent = `${hours}:${minutes}:${seconds} WIB`;
      }
      function initClock() {
        updateClock();
        window.setInterval("updateClock()", 1);
      }
    </script>
  </head>
  <body onload="initClock()">
    <!-- Head -->
    <nav class="navbar navbar-dark bg-success">
      <div class="container">
        <a class="navbar-brand m-0 h1" href="/"
          ><i class="fa-solid fa-calendar-days"></i> JADWAL IMSAKIYAH 2023</a
        >
        <div id="clock" class="d-flex navbar-brand m-0 text-white h1">
          Loading...
        </div>
      </div>
    </nav>
    <!-- Content -->
    <div class="container my-4">
      <div class="card shadow-sm">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-6">
              <h4>
                <i class="fa-solid fa-location-dot"></i>
                <span th:text="${jadwal.data.kabKota}"></span>
              </h4>
            </div>
            <div class="col-3">
              <select
                id="provinsi"
                name="provinsi"
                class="form-select"
                onselect="onSelectProvinsi(this.value);"
              >
                <option disabled>Pilih Provinsi</option>
                <option
                  th:each="provinsi : ${provinsi.data}"
                  th:value="${provinsi}"
                  th:text="${provinsi}"
                  th:selected="${provinsi == jadwal.data.provinsi}"
                ></option>
              </select>
            </div>
            <div class="col-3">
              <select
                id="kabKota"
                name="kabKota"
                class="form-select"
                onselect="onSelectKabKota(this.value);"
              >
                <option disabled>Pilih Kabupaten/Kota</option>
                <option
                  th:each="kabKota : ${kabKota.data}"
                  th:value="${kabKota}"
                  th:text="${kabKota}"
                  th:selected="${kabKota == jadwal.data.kabKota}"
                ></option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <div
              class="table-container"
              style="max-height: 70vh; overflow-y: auto"
            >
              <table
                class="table table-striped table-bordered table-hover text-center align-middle"
              >
                <thead>
                  <tr class="text-nowrap">
                    <th>Tanggal</th>
                    <th>Imsak</th>
                    <th>Subuh</th>
                    <th>Terbit</th>
                    <th>Dhuha</th>
                    <th>Dzuhur</th>
                    <th>Ashar</th>
                    <th>Maghrib</th>
                    <th>Isya</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    th:class="${jadwal.value.isToday} ? 'table-info' : ''"
                    th:each="jadwal : ${jadwal.data.data}"
                  >
                    <td th:text="${jadwal.value.tanggal}"></td>
                    <td
                      th:class="${jadwal.value.isToday} ? table-primary:  table-success "
                      th:text="${jadwal.value.imsak}"
                    ></td>
                    <td th:text="${jadwal.value.subuh}"></td>
                    <td th:text="${jadwal.value.terbit}"></td>
                    <td th:text="${jadwal.value.dhuha}"></td>
                    <td th:text="${jadwal.value.dzuhur}"></td>
                    <td th:text="${jadwal.value.ashar}"></td>
                    <td
                      th:class="${jadwal.value.isToday} ? table-primary :table-success "
                      th:text="${jadwal.value.maghrib}"
                    ></td>
                    <td th:text="${jadwal.value.isya}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col">
              <span class="badge text-bg-success my-1"
                >Semuanya dalam Waktu Indonesia Barat (WIB)</span
              >
            </div>
            <div class="col-auto">© 2023 - Sistem Informasi - Irvanudin</div>
          </div>
        </div>
      </div>
    </div>
    <script th:src="@{/script.js}"></script>
  </body>
</html>
